<div class="footer text-center" th:fragment="footer">
  <hr/>
  <a class="btn btn-lg btn-primary btn-sm" href="/" role="button">Home </a>
<!--
  <a class="btn btn-lg btn-info btn-sm" href="/hello" role="button">/hello </a>
-->
  <a class="btn btn-lg btn-info btn-sm" href="/statistics?lang=de" role="button">Statistik</a>
<!--  <a class="btn btn-lg btn-info btn-sm" href="/endpoints?lang=de" role="button">Endpoints</a>-->
  <br/>
  <br/>
  <a class="btn btn-lg btn-success  btn-sm" href="http://gitlab/vb/software/vertriebssoftware/leben/vbon/evaluation/vslworld" role="button" target="_blank">Gitlab</a>
  <a class="btn btn-lg btn-success  btn-sm" href="https://argocd.apps.ad.volkswohl-bund.de/" role="button" target="_blank">Argocd</a>
  <a class="btn btn-lg btn-warning  btn-sm" href="http://blindtextgenerator.de" role="button" target="_blank">Lorem </a>
  <a class="btn btn-lg btn-warning  btn-sm" href="https://angrytools.com/bootstrap/editor/" target="_blank" role="button">Bootstrap </a>
  <a href="/restart" class="btn btn-lg btn-warning  btn-sm">Restart Application</a>

  <img width="150px" src="https://www.volkswohl-bund.de/Portals/8/Skins/vwb2018/assets/img/vb-logo-farbe.svg" alt="Volkswohl Bund Versicherungen" class="img-thumbnail">
</div>
