<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.1.2/dist/chartjs-plugin-annotation.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Statistics Page</title>
    <head th:replace="~{fragments/header :: head}">


    </head>
</head>

<body>

<div class="container">



    <div class="jumbotron mt-3">

        <p/>

        <canvas id="myChart" width="800" height="400"></canvas>
        <p th:text="'Aktuelle Durchschnittszeit (ms): ' + ${averageResponseTime} + 'ms'" class="text text-primary"></p>
        <p th:text="'Letztes Minimum (ms): ' + ${minResponseTime} + 'ms' + ', letztes Maximum (ms): ' + ${maxResponseTime} + 'ms'" class="text text-primary"></p>
        <div id="countdown"></div>
        <h6 th:text="'Endpoint: ' + ${endpoint}" class="text text-primary">placeholder only</h6>
        <h6 th:text="'Thread size: ' + ${threadsize} +', Testset size: ' + ${testsize}" class="text text-primary">placeholder only</h6>
        <!-- <p th:text="'Last averages: ' + ${averages} + 'ms'"></p> -->

    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var averages = [[${averages}]] ;
    var mins = [[${mins}]] ;
    var maxs = [[${maxs}]] ;
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: Array.from(Array(averages.length).keys()), // Create labels for each data point
            datasets: [{
                label: 'Response time average (ms)',
                data: averages,
                backgroundColor: 'rgba(33, 152, 197, 0.2)',
                borderColor: 'rgba(2, 115, 158, 1)',
                borderWidth: 1,
                fill: false
            },
            {
                label: 'Response minimum (ms)',
                data: mins,
                backgroundColor: '#0000A0',
                borderColor: 'rgba(98, 120, 63, 1)',
                borderWidth: 1,
                fill: false
            },
            {
                label: 'Response maximums(ms)',
                data: maxs,
                backgroundColor: '#D76B00',
                borderColor: 'rgba(179, 0, 0, 1)',
                borderWidth: 1,
                fill: false
            }
            ]
        },
        options: {

        legend: { position: 'bottom' },
        tooltips: { mode: 'index', intersect: true  } // tooltips
        ,
          plugins: {
            annotation: {
              annotations: [
              {
                  type: 'line',
                  yMin: 10000,
                  yMax: 10000,
                  borderColor: 'red',
                  borderWidth: 3
                } //line1
                ,
                    {
                  type: 'line',
                  yMin: 7000,
                  yMax: 7000,
                  borderColor: '#57AE00',
                  borderWidth: 3
                  }
              ]// annotations
            } // annotation
          }// plugin

        }
    });

</script>

<script>
    var refreshInterval = 15; // refresh interval in seconds
    var countdown = refreshInterval;
    setInterval(function() {
        document.getElementById('countdown').innerHTML = 'Refreshing in ' + countdown + ' seconds...';
        if (countdown === 0) {
            location.reload();
            countdown = refreshInterval;
        } else {
            countdown--;
        }
    }, 1000);

</script>


<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
